
#breadcrumb {
	float: left;
	padding: 5px 0;
}

#action_links {
	float: right;
	padding: 5px 0;
}

#content {
	clear: both;	
}

div.thumb {
	background-color: #eee;
	float: left;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.thumb h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}
div.thumb h3 a {
	color: black;
	text-decoration: none;
}
div.thumb h3 a:hover {
	border-bottom: 1px solid #999;}
div.thumb img {
	width: 200px;
	height: 200px;
}
div.thumb p {
	text-align: center;
	margin: 0;
}
.row {
	clear: both;
	padding-bottom: 40px;
}

img {

	
}
.row div.image {
	margin: 10px 0 0;
	float: left;
}
.row div.image img {
	margin: 0 0 0 10px;
}
div.title {
	margin: 10px 0 0;
	border-right: 1px solid #bbb;
	display: block;
	float: left;
	width:  240px;
}
.row div.title img, .row div.image img {
	width: 100px;
	height: 100px;
}
div.title img {
	float: right;
	padding-right: 10px;
	width: 100px;
}
div.title p {
	font-weight: bold;
	font-size: 16px;
}

/* @end
form#search {
	margin: 5px 0;
	padding: 5px 10px;
	float: right;
}
form#search input {
	padding: 5px 5px 5px;
	font-size: 13px;
}
form#search input.textfield {
	width: 400px;
	border: 1px solid black;
}
p.links {
	margin: 5px 0;
	text-transform: uppercase;
}
p.links a {
	text-decoration: none;
}
p.links a:hover {
	text-decoration: underline;
}
hr.seperator {
	clear: both;
	border: none;
	background-color: #ddd;
	height: 1px;
}
div.thumb {
	background-color: #eee;
	float: left;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
div.thumb h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}
div.thumb h3 a {
	color: black;
	text-decoration: none;
}
div.thumb h3 a:hover {
	border-bottom: 1px solid #999;}
div.thumb img {
	width: 200px;
	height: 200px;
}
div.thumb p {
	text-align: center;
	margin: 0;
}
.row {
	clear: both;
	padding-bottom: 40px;
}

img {

	
}
.row div.image {
	margin: 10px 0 0;
	float: left;
}
.row div.image img {
	margin: 0 0 0 10px;
}
div.title {
	margin: 10px 0 0;
	border-right: 1px solid #bbb;
	display: block;
	float: left;
	width:  240px;
}
.row div.title img, .row div.image img {
	width: 100px;
	height: 100px;
}
div.title img {
	float: right;
	padding-right: 10px;
	width: 100px;
}
div.title p {
	font-weight: bold;
	font-size: 18px;
}


DIV#map_canvas {
    width: 500px;
    height: 300px;
    float:right;
    border:4px solid black;
    display: none;
}


DIV#action_links {
    float: right;
    clear: right;
}

td {
	vertical-align: bottom;
}
p#notice {
    color: green;
}

DIV#collection_albums {
	width:  710px;
	clear:  both;
}
DIV#collection_albums span {
	position: relative;
	display:  block;
	float:  left;
	padding:  5px;
}
DIV#collection_albums IMG.delete {
	display:  block;
	vertical-align: top;
	position: absolute;
	cursor:  pointer;
	right:  8px;
	top:  8px;
}


@media screen and (device-width: 480px) {
    #container {
        width: 100%;
    }
    DIV#collection_albums {
    	width:  100%;
    }    
}
 */